@import url(//fonts.googleapis.com/css?family=Press+Start+2P);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

#instructions {
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 140%;
/*  font-family: 'Press Start 2P', sans-serif;*/
  background-color: rgb(163, 204, 224); 
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(120deg, #65f67d 0%, #85d7fd 100%);*/
    font-family: 'Press Start 2P', sans-serif;
    /*font-size: 32px;*/
    background-color: rgb(163, 204, 224);
  }
  canvas {
    display: block;
    outline: rgb(223, 225, 226) 3px solid;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 60px;
  }

  