@import url(//fonts.googleapis.com/css?family=Press+Start+2P);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(120deg, #65f67d 0%, #85d7fd 100%);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 32px;
  }
  canvas {
    display: block;
    outline: white 3px solid;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 60px;
  }

  .credits {
    text-align: right;
    margin: 8px;
    padding: 0; 
  }